[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-dbbackup = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
django-rest-swagger = "*"
drf-yasg = "*"
djangorestframework-camel-case = "*"
pillow = "*"
django-import-export = "*"

[dev-packages]

[requires]
python_version = "3.8"
