.title-label p{
    margin: auto;
}

.cart-content{
    max-width: 1000px;
    margin: auto;
    margin-top: 150px;
}
.cartCheckout {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 1rem;
}

.cartFooter {

    border-top: 2px solid rgb(200, 200, 200);
    background-color: white;
}

.cartCheckout ion-card-subtitle {

    font-size: 1.3rem;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItem ion-avatar {

    height: 4rem;
    width: 4rem;
}

.cartSlider:not(:nth-child(1)) {
    border-top: 2px solid rgb(236, 236, 236);
}

.cartActions {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .cartActions {
        max-width: 30vw;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
    .container p {
        font-size: 11px;
        font-weight: bold;
    }

}

@media only screen and (max-height: 600px) {
    .cart-content{
        margin-top: 200px;
    }
}

