.productTable, td, th{
  border:1px solid black;
}

.productTable{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

td{
  text-align:center;
  padding:2px 4px;
}

.editButton{
  opacity:0.4;
  transition:0.2s;
}

.ProductCard{
  display:flex;
  flex-direction:column;
  border:1px solid grey;
  border-radius: 3px;
  width:100%;
  max-width:202px;
  box-sizing:border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.category{
  display:block;
  opacity:0.9; 
  font-size:12px;
  padding: 8px;
  padding-bottom: 4px;
  transition:0.2s;
}

.name{
  font-weight:bold;
  padding: 0px 8px;
  padding-bottom: 4px;
}

.price{
  text-align:right;
  padding:4px;
  font-weight:300;
}

.formCheck-err{
  border-color:red;
}

button{
  border:1px solid black;
  margin-top:24px;
  margin-left:20%;
  border-radius:3px;
  background:inherit;
  padding:8px 16px;
  outline:none;
  font-weight:bold;
  font-family:inherit;
  transition:0.2s;
}

label{
  display:block;
  font-weight:bold;
  letter-spacing:1px;
  font-size:12px;
  margin-bottom:4px;
}

input{
  font-family:inherit;
  padding:4px 8px;
  border:1px solid #BDBDBD;
  border-radius:3px;
  outline:none;
}

select{
  font-family:inherit;
  outline:none;
  padding:4px 8px;
  border-radius:3px;
}

option:hover{
  font-family:inherit;
  padding:4px 8px;
}

.newItem-input{
  box-sizing:border-box;
  min-width:200px;
  width:30%;
  margin-bottom:32px;
  padding-right:24px;
}

.newItem-preview{
  box-sizing:border-box;
  min-width:202px;
  width:50%;
}

.NewItemTab {
  display:flex;
  flex-wrap:wrap;
}

.title{
  box-sizing:border-box;
  width:100%;
  background:#3D5AFE;
  color:white;
  margin:0px;
  padding:16px 8px;
  position:relative;
  z-index:99;
}

.app-body{
  display:flex;
  height:100%;
  min-height:80vh;
}

.add-new-item{
  color:white;
  font-weight:400;
  opacity:1;
  position:relative;
  z-index:3;
}

ul{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

.active{
  opacity:1;
  background:#fff;
  position:relative;
  z-index:3;
}

li{
  box-sizing:border-box;
  text-align:right;
  width:100%;
  padding:16px;
  transition:0.2s all;
  font-weight:300;
}

.Sidebar{
  width:100%;
  max-width:200px;
  background:#ECEFF1;
}

.MyRouter{
  width:100%;
  box-shadow: -3px 0px 6px rgba(0,0,0,0.16);
  box-sizing:border-box;
  padding:16px 24px;
  position:relative;
  z-index:2;
  overflow:hidden;
}

h1{
  opacity:0.9;
  font-size:24px;
}